{% extends "base.html" %}

{% block title %}Error: Unhandled Exception{% endblock %}

{% block content %}

<h1>Service Unavailable</h1>

<p class="alert alert-info">
  Sorry, the application could not handle your request.
</p>

<p><code>
{{ e }}
</code></p>

{% endblock content %}

