
<div class="card">
    <h5 class="card-header">{{ patron.First_Name }} {{ patron.Last_Name }}</h5>
    <div class="card-body">
        <div style="width:180px">
            <div class="progress">
                <div class="progress-bar" role="progressbar" width='100%'></div>
            </div>
        </div>
        <img id="patron-picture" style="max-width:180px" class="img-fluid" alt="Patron Photo" src="{{ url_for('static', filename='picture-missing.png') }}" >
        <img src="{{ url_for('codabar', code=patron.Card_Number, degrees=270) }}">
        <script> window.addEventListener('load',(event) => {
            fetch_picture( "{{ url_for('picture') }}" );
            });
        </script>
        <dl>
            <dt>Plan Name</dt>
            <dd>
            {% set plan_dn = plan_displaynames[patron.Plan_ID] %}
            {{ plan_dn if plan_dn else patron.Plan }}
            </dd>
            <dt>Plan Code</dt>
            <dd>
            {{ patron.Plan_ID }}
            </dd>
            <dt>Card Issued</dt>
            <dd>
            {{ patron.Last_Date_Card_Issued }}
            </dd>
            {% if agent %}
            <dt>Card Number</dt>
            <dd>
            {{ patron.Card_Number }}
            </dd>
            {% endif %}
            <dt>ID {{ patron.ID_Number }}</dt>
            <dd>
                <img src="{{ url_for('codabar', code=patron.ID_Number) }}">
            </dd>
        </dl>
    </div>
</div>
