{% extends "base.html" %}
{% block content %}
{% if patron.Last_Error %}
<div class="alert alert-warning">
   Latest error: {{ patron.Last_Error }}
</div>
{% endif %}
{% if swipe_fraction %}
   <div class="alert alert-warning">
   You have a partial swipe of 0.{{ swipe_fraction }}. Check the FAQ for more information.
   </div>
{% endif %}
{% if agent %}
{% include "lookup-form.html" %}
{% endif %}

<h1 class="mt-3">{{title}}</h1>

<div class="row">
    <div id="patron-details-button" class="col my-2">
        <button type="button" class="btn btn-primary">Account Details</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-6 order-md-2 my-2">
        <div id="patron-details" style="display: none">
            {% include "account-details.html" %}
        </div>
    </div>

    <div class="col-sm-8 col-md-6 order-md-1">
    {% if not accounts %}
        <div class="alert alert-warning">
            No active card balances were found for {{patron.ID_Number}}.
            Additional card information may be found under "Account Details".
        </div>
    {% endif %}

    {% for tender_id, account in accounts.items() %}
            <div class="card my-2">
            {% set tender_dn = tender_displaynames[account.Tender_ID]["display"] %}
            {% set affiliation = tender_displaynames[account.Tender_ID]["affiliation"] %}
            {% set unit = tender_displaynames[account.Tender_ID]["unit"] %}
                <h5 class="card-header">
                    {{ tender_dn if tender_dn else account.Tender }}
                </h5>
            <dl class="card-body">
                <dt>Balance</dt>
                <dd>
                {% if unit %}
                    {% if account.Balance != 1.0 %}
                        {% set unit = unit + "s" %}
                    {% endif %}
                    {{ "%d %s" % (account.Balance, unit) }}
                {% else %}
                    {{ "$%0.2f" % account.Balance }}
                {% endif %}
                </dd>
                {% if affiliation %}
                    <dt>Affiliation</dt>
                    <dd>{{ affiliation }}</dd>
                {% endif %}
                <dt>Last Used</dt>
                <dd>{{ account.Date_Time_Last_Used if account.Date_Time_Last_Used else "Never"}}</dd>
            </dl>
            </div>
    {% endfor %}
    </div>

</div>


{% endblock content %}
