
   <form action="{{ url_for('lookup') }}" method="POST">
        <div class="form-row col-lg-5 my-3">
           <div class="col">
               <label for="patron" class="sr-only">Patron Lookup</label>
               <input type="text" class="form-control " id="patron" name="patron" placeholder="Patron ID" value="{{patronid}}" />
           </div>
           <div class="col">
               <button type="submit" class="btn btn-primary">Lookup</button>
           </div>
        </div>
    </form>