{% from "variables.html" import links %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003C69">
  <a class="navbar-brand" href="{{ links['institution']['href'] }}">
     <img src="{{ url_for('static', filename="csusb-white.png") }}" height="30" alt="OneCard Balance">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           href="{{ links.portal.href }}">{{ links.portal.label }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           href="{{ links.purchase.href }}">{{ links.purchase.label }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           href="{{ links.faq.href }}">{{ links.faq.label }}</a>
      </li>
    </ul>
  </div>
</nav>
