{% extends "base.html" %}
{% from "variables.html" import links %}

{% block title %}No balance info{% endblock %}

{% block content %}
<h1>Missing Balance</h1>
<p class="alert alert-info">
  No card balance information could be found for {{username}}
</p>
{% if agent %}
    {% include "lookup-form.html" %}
{% endif %}
<div class="card">
   <div class="card-header">
   Purchase
   </div>
   <div class="card-body">
       <p class="card-text">
          Purchase a meal plan to add meals and dining dollars</p>
       </p>
       <a class="btn btn-primary"
          href="{{ links.purchase.href }}">
          {{ links.purchase.label }}</a>
   </div>
</div>
{% endblock content %}

