{% extends "base.html" %}
{% block content %}
<h1>Sample Pages (for ADA scanning tools)</h1>
<ul>
    <li><a href="{{ url_for('unknown_user') }}">Unknown User</a></li>
    <li><a href="{{ url_for('missing_account') }}">Missing Account</a></li>
    <li><a href="{{ url_for('example_user') }}">Example User</a></li>
</ul>
{% endblock content %}
