{% extends "base.html" %}

{% block title %}Error: Unrecognized User{% endblock %}

{% block content %}

<h1>Unrecognized User</h1>

<p class="alert alert-info">
  Sorry, your username could not be found or properly authenticated
</p>

{% endblock content %}

